html {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(#8C6C60, #40313E);
  font-family: helvetica;
  overflow-x: hidden;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: auto!important;
}
header.fjj-pay-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 60px;
  font-family: "microsoft yahei";
  color: #fff;
  background: #3F313E;
  font-weight: 600;
  padding: 0 .18rem;
}
header.fjj-pay-header .container {
  position: relative;
  width: 100%;
  padding: .3rem 0 .1rem;
}
header.fjj-pay-header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  line-height: .82rem;
  font-size: .5rem;
  font-weight: 600;
  text-align: center;
  opacity: .3;
  font-weight: 400;
  letter-spacing: .3em;
}
header.fjj-pay-header .front {
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
}
header.fjj-pay-header .front p.big-title {
  padding-left: .3rem;
  color: #FFFFFF;
  text-align: center;
  font-size: .40rem;
  font-weight: 600;
  letter-spacing: 0;
  word-spacing: 0;
}
header.fjj-pay-header .front p.big-title span {
  margin: 0 .08rem;
  display: inline-block;
  width: .06rem;
  height: .06rem;
  vertical-align: middle;
  border-radius: 50%;
}
header.fjj-pay-header .front p.big-title span.right {
  width: .1rem;
  height: .1rem;
  vertical-align: baseline;
}
header.fjj-pay-header .front p.big-title span.little {
  width: .08rem;
  height: .08rem;
}
header.fjj-pay-header .front p.en-title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: .28rem;
  font-weight: 600;
}
header.fjj-pay-header .front p.en-title span {
  color: #ED5C60;
}
header.fjj-pay-header .front .line {
  position: relative;
  width: 2.42rem;
  height: 1px;
  margin: auto;
  background: #393138;
}
header.fjj-pay-header .front .line:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1px;
  height: 1px;
  background: #1A151A;
}
header.fjj-pay-header .front .line:after {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 1px;
  background: #1A151A;
}
header.fjj-pay-header .front .line span {
  position: absolute;
  top: -1px;
  background: #E76F71;
  width: .36rem;
  height: 3px;
}
header.fjj-pay-header div.back {
  position: absolute;
  top: 50%;
  margin-top: -0.32rem;
  z-index: 9999;
  width: .64rem;
  height: .64rem;
}
header.fjj-pay-header div.back a {
  display: block;
  width: 100%;
  height: 100%;
}
header.fjj-pay-header div.back a img {
  width: 100%;
}
header.fjj-pay-header div.add-bank {
  position: absolute;
  top: 50%;
  margin-top: -0.32rem;
  right: 0;
  z-index: 99999;
  width: .64rem;
  height: .64rem;
}
header.fjj-pay-header div.add-bank a {
  display: block;
  width: 100%;
  height: 100%;
}
header.fjj-pay-header div.add-bank a img {
  width: 100%;
}
.fjj-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #7A6D74;
}
.fjj-line.main-line {
  background: #9F8379;
}
.fjj-line li {
  position: absolute;
  height: 1px;
  top: 0;
  background: #EADEDA;
}
.fjj-line li.one {
  left: .87rem;
  width: .32rem;
}
.fjj-line li.two {
  left: 2.98rem;
  width: .98rem;
}
.fjj-line li.three {
  left: 5.77rem;
  width: .32rem;
}
div.fjj-play {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 1.5rem;
  padding: 0 .18rem;
  background: #473641;
}
div.fjj-play .container {
  box-sizing: content-box;
  padding: .3rem 0;
  position: relative;
}
div.fjj-play .container .other {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
div.fjj-play .container li {
  margin: 0 .1rem;
}
div.fjj-play .container .haibao,
div.fjj-play .container .caidan,
div.fjj-play .container .play {
  width: .88rem;
  height: .88rem;
  border-radius: 50%;
}
div.fjj-play .container .haibao a,
div.fjj-play .container .caidan a,
div.fjj-play .container .play a {
  display: block;
  width: 100%;
  height: 100%;
}
div.fjj-play .container .haibao a img,
div.fjj-play .container .caidan a img,
div.fjj-play .container .play a img {
  width: 100%;
  display: block;
}
div.fjj-play .container .info {
  width: auto;
  height: .88rem;
}
div.fjj-play .container .info .author {
  color: #fff;
  font-size: 14px;
  line-height: .56rem;
}
div.fjj-play .container .info .tip {
  color: #23DFDA;
  font-size: 12px;
  line-height: .32rem;
}
/*身体区域*/
div.fjj-body {
  padding: 1.32rem .18rem;
  height: auto;
}
div.fjj-body .container {
  position: relative;
  padding-top: .1rem;
  width: 100%;
  height: auto;
  text-align: center;
}
div.fjj-body .fjj-line {
  background: #AC938A;
}
div.fjj-body .tab-area {
  display: inline-block;
  width: auto;
  height: auto;
  background: #fff;
  border-radius: .5rem;
  margin: .2rem auto;
}
div.fjj-body .tab-area::after {
  display: inline-block;
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
}
div.fjj-body .tab-area li {
  float: left;
  width: 2.5rem;
  min-width: 2.5rem;
  padding: .05rem .3rem;
  border-radius: .5rem;
  transition: all .3s;
}
div.fjj-body .tab-area li p {
  text-align: center;
  white-space: nowrap;
  color: #EE686B;
  line-height: 1.1;
  transition: all .3s;
}
div.fjj-body .tab-area li .zh-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
div.fjj-body .tab-area li .en-title {
  line-height: 1;
  font-size: 12px;
}
div.fjj-body .tab-area li.active {
  background: #ED5E61;
  box-shadow: 2px 2px 10px #ED5E61;
  -webkit-box-shadow: 2px 2px 10px #ED5E61;
}
div.fjj-body .tab-area li.active p {
  color: #fff;
}
/*选项卡对应的区域*/
.fjj-service {
  width: auto;
  height: auto;
}
.fjj-service li.buy-vip {
  height: 8.8rem;
  max-height: 8.8rem;
  padding-bottom: 1.6rem;
  display: none;
  width: 100%;
  overflow: scroll;
}
.fjj-service li.buy-vip.active {
  display: block;
}
.fjj-service li.buy-vip div.host-info {
  position: relative;
  text-align: left;
}
.fjj-service li.buy-vip div.host-info .head-pic {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  padding: .1rem;
  vertical-align: bottom;
}
.fjj-service li.buy-vip div.host-info .head-pic .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.fjj-service li.buy-vip div.host-info .head-pic .inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.fjj-service li.buy-vip div.host-info .head-pic .inner img {
  width: 100%;
}
.fjj-service li.buy-vip div.host-info .name {
  display: inline-block;
  font-size: .28rem;
  color: #fff;
  vertical-align: bottom;
}
.fjj-service li.buy-vip div.host-info .name img {
  height: .28rem;
  opacity: .3;
}
.fjj-service li.buy-vip div.host-info .name span {
  opacity: .3;
}
.fjj-service li.buy-vip div.host-info .name span small {
  font-size: 1em;
}
.fjj-service li.buy-vip div.host-info .other {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  display: inline-block;
}
.fjj-service li.buy-vip div.vip-desc {
  text-align: left;
  font-size: 10px;
  color: #B6AAA7;
  padding: .17rem 0;
}
.fjj-service li.buy-vip div.vip-desc p {
  line-height: 1.2;
}
.fjj-service li.buy-vip div.vip-desc .zh span {
  color: #35E7E2;
}
.fjj-service li.buy-vip ul.vip-detail {
  width: 100%;
  height: auto;
}
.fjj-service li.buy-vip ul.vip-detail li {
  margin-top: .2rem;
  width: 100%;
  padding: .2rem .17rem .2rem .4rem;
  border-radius: 5px;
  background: #fff;
  height: auto;
  min-height: 1.4rem;
}
.fjj-service li.buy-vip ul.vip-detail li div.info {
  position: relative;
  float: left;
  width: 5rem;
  max-width: 5rem;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p {
  text-align: left;
  line-height: .3rem;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p.zh {
  margin-top: .1rem;
  font-size: .23rem;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p.zh span {
  color: #EE686B;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p.en {
  font-size: .14rem;
  font-weight: 600;
  letter-spacing: 0;
  word-spacing: 0;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p.en span {
  color: #F4A58E;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p.time {
  line-height: 1rem;
  font-size: .31rem;
  color: #4F4F4F;
  font-weight: 600;
}
.fjj-service li.buy-vip ul.vip-detail li div.info p.price {
  position: absolute;
  top: 0;
  right: .5rem;
  line-height: 1rem;
  font-size: .19rem;
  color: #797979;
}
.fjj-service li.buy-vip ul.vip-detail li img {
  float: left;
  height: 1rem;
}
.fjj-service li.buy-vip ul.vip-detail li div.button {
  float: right;
  height: 1rem;
  padding: .25rem .1rem;
}
.fjj-service li.buy-vip ul.vip-detail li div.button a {
  background: #00DFD7;
  font-size: .27rem;
  font-weight: 500;
  margin-top: .25rem;
  line-height: .5rem;
  color: #fff;
  padding: .1rem .26rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #00DFD7;
}
.fjj-service li.buy-vip ul.vip-detail li.recommend {
  background: #FEFFC5;
  padding-bottom: .1rem;
}
.fjj-service li.buy-vip ul.vip-detail li.recommend div.button a {
  background: #EE686B;
  box-shadow: 0 0 10px #EE686B;
}
.fjj-service li.buy-vip ul.vip-detail li.recommend div.info p.price {
  top: .5rem;
  right: 0;
}
.fjj-service li.buy-vip div.fjj-detail-info {
  margin-top: .15rem;
  text-align: justify;
}
.fjj-service li.buy-vip div.fjj-detail-info::after {
  display: inline-block;
  content: "";
  height: 0;
  line-height: 0;
  width: 100%;
}
.fjj-service li.buy-vip div.fjj-detail-info a {
  display: inline-block;
}
.fjj-service li.buy-vip div.fjj-detail-info a div.title {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.fjj-service li.buy-vip div.fjj-detail-info a div.title p.zh {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  font-size: 14px;
  color: #E3E1E2;
}
.fjj-service li.buy-vip div.fjj-detail-info a div.title p.en {
  width: 100%;
  text-align: justify;
  line-height: 1;
  font-size: 12px;
  color: #A39DA0;
  white-space: nowrap;
}
.fjj-service li.buy-vip div.fjj-detail-info a img {
  height: .45rem;
  vertical-align: middle;
}
.fjj-service li.buy-vip div.fjj-detail-info div.other {
  display: inline-block;
  line-height: .45rem;
}
.fjj-service li.buy-vip div.fjj-detail-info div.other p {
  display: inline-block;
  font-size: 14px;
}
.fjj-service li.buy-vip div.fjj-detail-info div.other p.auto {
  color: #EE686B;
}
.fjj-service li.buy-vip div.fjj-detail-info div.other p.auto img {
  height: .22rem;
  vertical-align: baseline;
}
.fjj-service li.buy-vip div.fjj-detail-info div.other p.tequan {
  color: #39D6D2;
}
.fjj-service li.buy-song {
  display: none;
  width: 100%;
  max-height: 8.8rem;
  overflow: scroll;
  padding-bottom: 1.6rem;
}
.fjj-service li.buy-song.active {
  display: block;
}
.fjj-service li.buy-song div.song-top p.title {
  font-size: .22rem;
  color: #fff;
}
.fjj-service li.buy-song div.song-top .head-pic {
  position: relative;
  margin: 0 auto;
  width: 1.2rem;
  height: 1.2rem;
  padding: .1rem;
  vertical-align: bottom;
}
.fjj-service li.buy-song div.song-top .head-pic .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.fjj-service li.buy-song div.song-top .head-pic .inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.fjj-service li.buy-song div.song-top .head-pic .inner img {
  width: 100%;
}
.fjj-service li.buy-song div.song-top .name {
  display: inline-block;
  font-size: .28rem;
  color: #fff;
  vertical-align: bottom;
}
.fjj-service li.buy-song div.song-top .name img {
  height: .20rem;
  opacity: .3;
  vertical-align: baseline;
}
.fjj-service li.buy-song div.song-top .name span {
  vertical-align: baseline;
  font-size: .20rem;
  opacity: .3;
}
.fjj-service li.buy-song div.song-top .name span small {
  font-size: 1em;
}
.fjj-service li.buy-song div.song-middle {
  position: relative;
  padding-top: .15rem;
}
.fjj-service li.buy-song div.song-middle .fjj-line {
  top: .1rem;
}
.fjj-service li.buy-song div.song-middle .list-title::after {
  content: "";
  width: 100%;
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}
.fjj-service li.buy-song div.song-middle .list-title div.title {
  float: left;
  vertical-align: baseline;
  width: 2rem;
}
.fjj-service li.buy-song div.song-middle .list-title div.title p.zh {
  text-align: justify;
  line-height: .35rem;
  font-size: .24rem;
  color: #fff;
}
.fjj-service li.buy-song div.song-middle .list-title div.title p.en {
  text-align: justify;
  line-height: .23rem;
  font-size: .13rem;
  color: #fff;
}
.fjj-service li.buy-song div.song-middle .list-title a.together {
  float: right;
  vertical-align: middle;
  line-height: .58rem;
  font-size: .23rem;
  color: #353535;
}
.fjj-service li.buy-song div.song-middle .list-title a.together img {
  height: .23rem;
  vertical-align: baseline;
}
.fjj-service li.buy-song div.song-middle ul.song-list {
  padding: .1rem 0;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item {
  position: relative;
  margin-bottom: .1rem;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.head-pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 1.76rem;
  height: 1.52rem;
  border-radius: 5px;
  overflow: hidden;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.head-pic img {
  width: 100%;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info {
  position: relative;
  float: right;
  width: 5.44rem;
  height: 1.52rem;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  padding: .21rem .24rem .29rem .22rem;
  text-align: left;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info p {
  line-height: 1.4;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info span.name {
  font-size: .28rem;
  color: #000;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info span.mv {
  color: #E9687A;
  line-height: 1.5;
  font-size: .11rem;
  padding: 0 0.1rem;
  border: 1px solid #E9687A;
  border-radius: 3px;
  vertical-align: middle;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info p.song-name {
  font-size: .24rem;
  color: #7F7F7F;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info span.price {
  font-size: .21rem;
  color: #EE686B;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info span.like {
  font-size: .21rem;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info p.other img {
  height: .21rem;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info .download {
  position: absolute;
  top: 50%;
  right: .8rem;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info .play {
  position: absolute;
  top: 50%;
  right: .2rem;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info a {
  margin-top: -0.2rem;
  width: .4rem;
  height: .4rem;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item div.info a img {
  width: 100%;
}
.fjj-service li.buy-song div.song-middle ul.song-list li.item img.to-buy {
  position: absolute;
  top: 0;
  left: .1rem;
  width: .24rem;
}
.fjj-service li.buy-song div.total {
  padding: .1rem 0;
  border-bottom: 1px solid #827A7E;
}
.fjj-service li.buy-song div.total::after {
  content: "";
  display: block;
  clear: both;
}
.fjj-service li.buy-song div.total div.title {
  position: relative;
  padding-left: .6rem;
}
.fjj-service li.buy-song div.total div.title img.money {
  position: absolute;
  top: 50%;
  left: 0;
  height: .5rem;
  min-height: 20px;
  margin-top: -0.25rem;
}
.fjj-service li.buy-song div.total div.title p.zh {
  text-align: left;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}
.fjj-service li.buy-song div.total div.title p.en {
  text-align: left;
  font-size: 12px;
  color: #C5C1C3;
  line-height: 1;
}
.fjj-service li.buy-song div.total div.info .to-buy {
  text-align: right;
  line-height: 1;
  font-size: 12px;
  color: #BAB9B9;
}
.fjj-service li.buy-song div.total div.info .total-num {
  line-height: 1.5;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #BAB9B9;
}
.fjj-service li.buy-song div.total div.info .total-num span {
  font-size: 14px;
  color: #3FBEF3;
}
.fjj-service li.buy-song div.less {
  text-align: justify;
  border-bottom: 1px solid #80787D;
  padding: .1rem 0;
}
.fjj-service li.buy-song div.less::after {
  content: "";
  display: inline-block;
  height: 0;
  line-height: 0;
  clear: both;
}
.fjj-service li.buy-song div.less div.title {
  float: left;
  font-size: 14px;
  color: #fff;
}
.fjj-service li.buy-song div.less a.detail {
  float: right;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 0 .3rem;
  border-radius: 10px;
  background: #68D1CD;
}
.fjj-service li.buy-song a.buy-btn {
  margin-top: .1rem;
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 2;
  background: #ED5E61;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ED5E61;
  -moz-box-shadow: 0 0 5px #ED5E61;
}
/*支付方式*/
.container.pay-method {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 .2rem;
}
.container.pay-method div.select-pay-method div.title {
  text-align: left;
  padding: .19rem 0 .11rem;
}
.container.pay-method div.select-pay-method div.title p.zh {
  color: #E8E3E0;
  font-size: 14px;
  line-height: 1.5;
}
.container.pay-method div.select-pay-method div.title p.en {
  font-size: 12px;
  color: #E8E3E0;
  line-height: 1;
}
.container.pay-method div.select-pay-method div.title p.en span {
  color: #0DD4CC;
}
.container.pay-method div.select-pay-method ul.list li.item {
  margin-bottom: .12rem;
  background: #fff;
  border-radius: 5px;
  padding: .11rem .14rem .2rem;
}
.container.pay-method div.select-pay-method ul.list li.item a {
  display: block;
  width: 100%;
  height: auto;
}
.container.pay-method div.select-pay-method ul.list li.item a::after {
  display: block;
  content: "";
  clear: both;
}
.container.pay-method div.select-pay-method ul.list li.item img.icon {
  float: left;
  width: .86rem;
  margin-right: .18rem;
}
.container.pay-method div.select-pay-method ul.list li.item div.desc {
  float: left;
  padding-top: .05rem;
}
.container.pay-method div.select-pay-method ul.list li.item div.desc p.big-desc {
  font-size: 14px;
  color: #565656;
  line-height: 1.5;
}
.container.pay-method div.select-pay-method ul.list li.item div.desc p.sub-desc {
  font-size: 12px;
  color: #BFBEBE;
  line-height: 1;
}
.container.pay-method div.select-pay-method ul.list li.item div.other {
  float: right;
  line-height: 33px;
}
.container.pay-method div.select-pay-method ul.list li.item div.other p.num {
  margin-top: 12px;
  padding: 0 1em;
  line-height: 1.3;
  border-radius: 10px;
  background: #f2f2f2;
  color: #565656;
}
.container.pay-method div.select-pay-method ul.list li.item div.other img.hot {
  margin-top: 10px;
  width: .9rem;
  vertical-align: middle;
}
.container.pay-method div.other-pay-method {
  margin-top: .85rem;
}
.container.pay-method div.other-pay-method div.title {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: .8rem;
  font-size: 14px;
}
.container.pay-method div.other-pay-method div.title img.money-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.container.pay-method div.other-pay-method div.title p.zh {
  color: #7E7A7A;
  line-height: 1.2;
}
.container.pay-method div.other-pay-method div.title p.en {
  color: #7E7A7A;
  line-height: 1;
}
.container.pay-method div.other-pay-method div.list-box {
  overflow: scroll;
}
.container.pay-method div.other-pay-method ul.list {
  margin-top: .2rem;
  position: relative;
  width: auto;
  height: auto;
  white-space: nowrap;
}
.container.pay-method div.other-pay-method ul.list li.item {
  display: inline-block;
}
.container.pay-method div.other-pay-method ul.list li.item a {
  display: block;
  border-radius: 5px;
}
.container.pay-method div.other-pay-method ul.list li.item a img {
  display: block;
  height: 1.45rem;
}
.container.pay-method div.other-pay-method ul.list li.item a.active {
  -webkit-box-shadow: 0 0 10px #fff outset;
  -moz-box-shadow: 0 0 10px #fff outset;
  box-shadow: 0 0 10px #fff outset;
}
/*底部*/
footer.fjj-pay-method {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: .3rem;
  z-index: 9999;
}
footer.fjj-pay-method p.zh-title {
  text-align: center;
  color: #A6A3A5;
  font-size: 12px;
  line-height: 1.5;
}
footer.fjj-pay-method p.en-title {
  margin: 0 auto;
  text-align: center;
  color: #A6A3A5;
  font-size: 12px;
  line-height: 1.1;
  max-width: 6rem;
}
footer.fjj-pay-method p.line {
  width: .66rem;
  height: 4px;
  background: #E5E5E5;
  margin: .1rem auto;
}
/*使用此银行卡支付--底部固定*/
footer.fjj-pay {
  position: fixed;
  bottom: .1rem;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: auto;
}
footer.fjj-pay a {
  display: block;
  border-radius: 5px;
  background: #ED5C60;
  line-height: .97rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  -webkit-box-shadow: 0 0 10px #ED5C60;
  -moz-box-shadow: 0 0 10px #ED5C60;
  box-shadow: 0 0 10px #ED5C60;
}
/*该银行卡的具体信息*/
div.container.pay-info {
  position: relative;
  margin-top: .2rem;
  height: auto;
  padding: 0 .2rem;
  width: 100%;
}
div.container.pay-info ul.info-list {
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: .2rem .3rem .2rem .5rem;
}
div.container.pay-info ul.info-list li.item {
  position: relative;
  line-height: .89rem;
  border-bottom: 1px solid #EAEAEA;
}
div.container.pay-info ul.info-list li.item div.icon {
  display: inline-block;
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
}
div.container.pay-info ul.info-list li.item div.icon div.inner {
  width: .19rem;
  height: .19rem;
  border-radius: 50%;
  margin-top: .03rem;
  margin-left: auto;
  margin-right: auto;
}
div.container.pay-info ul.info-list li.item p.content {
  margin-left: .28rem;
  display: inline-block;
  font-size: 14px;
  color: #A0A0A0;
}
div.container.pay-info ul.info-list li.item div.other {
  position: absolute;
  top: 50%;
  right: 0;
  width: auto;
  height: auto;
  margin-top: -0.3rem;
  z-index: 99;
}
div.container.pay-info ul.info-list li.item div.other a {
  display: block;
  width: 1.7rem;
  height: .6rem;
  border-radius: .3rem;
  line-height: .6rem;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
div.container.pay-info ul.select {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 99999;
  width: 3rem;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background: #06E5CA;
}
div.container.pay-info ul.select li.method {
  line-height: 1rem;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
/*银行卡的轮播图*/
div.swiper-container.back-card-slide {
  border-radius: 5px;
}
div.swiper-container.back-card-slide .swiper-wrapper {
  height: 3.2rem;
}
div.swiper-container.back-card-slide .swiper-wrapper .swiper-slide {
  position: relative;
  height: 100%;
}
div.swiper-container.back-card-slide .swiper-wrapper .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2.8rem;
  margin: auto;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  transiton: all .3s;
}
div.swiper-container.back-card-slide .swiper-wrapper .swiper-slide-active img {
  height: 3rem;
}
